ul.a {
    list-style-type: circle;
}

div.cookie{
	display:none;
}

body{
	background-color: #EAEAEA;
}

div#content{
	background-color: #FFFFFF;
	margin: auto;
	width: 50%;
	height: 80%;
	text-align: center;
	vertical-align: middle;
}

img.logo{
	float: left;
}